body{
    background-color: #f4d292;
}

h1{
    text-align: center;
}


#logicTable{
    margin: 0 auto;
    margin-top: 150px;
    width: 550px;
}

.logButton{
    height: 30px;
    width: 30px;
    border: 1px solid;
    display: inline-block;
    max-width: 550px;
}

.hideButton{
    border: none;
}

.logPad{
    margin-right: 5px;
}

p{
    position: fixed;
    left: 37%;
}